table {
    width: 60%;
    border: solid 1px black;
}

thead {
    background-color: blue;
    color: white;
}

th {
    padding: 5px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: silver;
}

tbody tr:hover {
    background-color: aqua;
    color: red;
}

.container-tb {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
} 
